

body



ul {
  background: powderblue;
  padding: 20 px;
}

ul li {
  background: cyan;
  color:white;
  margin: 5 px;
}

ul li a:hover {
  background-color: #5fff03;
  color: black;

}

img {
  padding: 30 px ;
}

body background-page

{
  background-image: url("cool-pc-windows-cracked-wi8eyhl0zo7bmu93.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} 

body {
    background-color: plum;
}
body
 {
    color: gold;
}
