

ol {
  background: cyan;
  padding: 20 px;
}

ol li {
  background: cyan ;
  color: white;
  padding: 10 px;
  margin-left: 20 px;
}

ul {
  background: powderblue;
  padding: 20 px;
}

ul li {
  background: cyan;
  color:white;
  margin: 5 px;
}

