body {
    background-color: red;
}
body
 {
    color: gold;
}



body 
ul {background-color: blue;} 


{css} 
body
P
ul 
{list-style-type:"square"} 
{background-color: "#00FFFF"} 
 {border: "#000000"}
 {color: "#FFFFFF"} 
} 
ul {list-style-type: none;} 
    {margin: 110 px;}
    {padding: 10 px;}
   } 
ul li {
  float: "left";
}



body 

 li a:hover {
  background-color: "#F5F5DC";
}




